---
import { Image } from "astro:assets";
import H1 from "../../components/h1.astro";
import InfoLayout from "../../layouts/InfoLayout.astro";
import Vyomite from "../../assets/vyomiteMobandLap.png";
import Portfolio from "../../assets/portfolio.png";

const projects = [
     {
          title: "Vyomite Website",
          description:
               "Redesigned the Vyomite website for clarity and trust. Clear Information Architecture, consistent components, and stronger CTAs.",
          image: Vyomite,
          href: "/projects/vyomite-website",
     },
     {
          title: "Portfolio Website",
          description:
               "Clean, lightweight site that’s easy to scan and easy to reach me.",
          // description: "Simple, fast portfolio with one detailed case study and a clear path to contact.",
          image: Portfolio,
          href: "https://github.com/AbhishekShrestha404/portfolio",
     },
];
---

<InfoLayout>
     <div class="p-4 sm:pt-8 sm:px-8 pb-20 min-h-dvh">
          <H1> Projects </H1>

          <ul
               class="mt-4 sm:mt-12 grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-2 gap-16 sm:gap-8 sm:mr-0 xl:mr-50"
          >
               {
                    projects.map((project) => (
                         <li>
                              <a
                                   href={project.href}
                                   class="block rounded-lg focus:outline-none focus-visible:ring-2 focus-visible:ring-zinc-500"
                                   aria-label={`Open ${project.title}`}
                              >
                                   <div class="aspect-[1] rounded-lg overflow-hidden bg-white mb-4 sm:mb-0 sm:mr-4 flex items-center justify-center">
                                        <Image
                                             src={project.image}
                                             alt={project.title}
                                             class="h-auto w-auto object-contain"
                                        />
                                   </div>

                                   <div class="p-1 sm:p-2">
                                        <h2 class="text-base text-zinc-100">
                                             {project.title}
                                        </h2>
                                        <p class="text-sm text-zinc-400 text-wrap">
                                             {project.description}
                                        </p>
                                   </div>
                              </a>
                         </li>
                    ))
               }
          </ul>
     </div>
</InfoLayout>
